button {
  appearance: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
  border: none;
  background-color: transparent;
  text-align: left;
}

.primary-button {
  background-color: var(--slate-800);
  padding: 0.5rem 1.5rem;
  color: white;
  border: none;
  border-radius: var(--border-radius);
  font-size: 1rem;
  cursor: pointer;

  &:visited {
    color: white;
  }

  &:hover {
    background-color: var(--slate-700);
  }
  &:active {
    transform: scale(0.95);
  }
}

.icon-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.399);
  i {
    font-size: 1.25rem;
    color: var(--slate-100);

    &:active {
      transform: scale(1.2);
    }
  }
}

input,
select,
textarea {
  padding: 0.75rem;
  border-radius: var(--border-radius);
  background-color: var(--slate-100);
  border: none;
  color: var(--slate-400);

  &:focus {
    outline: none;
    color: var(--slate-800);
  }

  &::placeholder {
    font-size: 0.875rem;
    color: var(--slate-400);
  }

  &:invalid {
    color: var(--red-600);
  }
}

.outline-button {
  padding: 0.5rem 1.5rem;
  background-color: transparent;
  border: 1px solid var(--slate-400);
  border-radius: var(--border-radius);
  font-size: 0.875rem;
  text-align: center;
  text-decoration: none;
  color: var(--slate-800);
}

form {
  display: grid;
  align-items: baseline;
  grid-template-columns: 1fr 9fr;
  gap: 1rem;
}

input[type="checkbox"] {
  background-color: var(--slate-100);
  width: 1.25rem;
  height: 1.25rem;
  // appearance: none;
}
