@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend&family=Pacifico&display=swap");
@import url("https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css");

@import "./normalize.scss";
@import "./typography.scss";
@import "./form.scss";

:root {
  --slate-800: #1e293b;
  --slate-700: #334155;
  --slate-600: #475569;
  --slate-400: #94a3b8;
  --slate-200: #e2e8f0;
  --slate-100: #f1f5f9;
  --red-600: #dc2626;
  --red-400: #f87171;
  --red-100: #fee2e2;
  --border-radius: 0.25rem;
}

main {
  max-width: 80vw;
  margin: 0 auto;
  padding: 2rem;
  min-height: 80vh;
}

footer {
  text-align: center;
  background-color: var(--slate-600);
  color: white;
  padding: 2rem;
  span {
    font-family: "Pacifico";
  }
}
